<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>dsg.nd.edu/rr</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>RedditResearch</string>
	<key>CFBundleIdentifier</key>
	<string>edu.nd.dsg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleVersion</key>
	<string>0.0.0.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery-1.11.3.min.js</string>
				<string>guiders-1.2.8.js</string>
				<string>jquery.dragsort-0.6.js</string>
				<string>jquery-fieldselection.min.js</string>
				<string>favico.js</string>
				<string>jquery.tokeninput.js</string>
				<string>HTMLPasteurizer.js</string>
				<string>snuownd.js</string>
				<string>hogan-2.0.0.js</string>
				<string>utils.js</string>
				<string>browsersupport.js</string>
				<string>browsersupport-safari.js</string>
				<string>console.js</string>
				<string>alert.js</string>
				<string>migrate.js</string>
				<string>storage.js</string>
				<string>template.js</string>
				<string>mediacrush.js</string>
				<string>reddit_enhancement_suite.user.js</string>
				<string>modules/redditresearch.js</string>
				<string>modules/settingsNavigation.js</string>
				<string>modules/styleTweaks.js</string>
				<string>init.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>RedditResearch is a utility that allows individuals to participate in the Reddit Research project, administered by the University of Notre Dame.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>reddit.com</string>
				<string>*.reddit.com</string>
				<string>dsg.nd.edu</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://dsg.nd.edu/rr</string>
</dict>
</plist>
